{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "import"],
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": "typescript"
  },
  "parserOptions": {
    "project": ["tsconfig.json", "scripts/tsconfig.json"]
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:eslint-comments/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    // fixes
    "no-useless-constructor": "off",
    "@typescript-eslint/no-useless-constructor": "error",
    // off
    "no-inner-declarations": "off",
    "no-use-before-define": "off",
    "class-methods-use-this": "off",
    "no-invalid-this": "off",
    "no-loop-func": "off",
    "no-undef": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/unbound-method": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-unsafe-assignment": "off",
    "@typescript-eslint/no-unsafe-member-access": "off",
    "@typescript-eslint/no-unsafe-return": "off",
    "@typescript-eslint/no-unsafe-call": "off",
    "@typescript-eslint/no-unsafe-argument": "off",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/no-namespace": "off",
    "@typescript-eslint/restrict-template-expressions": "off",
    "@typescript-eslint/restrict-plus-operands": "off",
    // modifications/weakening
    "@typescript-eslint/no-inferrable-types": [
      "warn", {
        "ignoreProperties": true,
        "ignoreParameters": true
      }
    ],
    "prettier/prettier": "warn",
    "@typescript-eslint/ban-types": [
      "error", {
        "extendDefaults": true,
        "types": {
          "object": false
        }
      }
    ],
    // on
    "no-template-curly-in-string": "error",
    "no-else-return": "error",
    "no-lonely-if": "error",
    "eslint-comments/no-unused-disable": "error",
    "eslint-comments/disable-enable-pair": [
      "error", {
        "allowWholeFile": true
      }
    ],
    "@typescript-eslint/explicit-module-boundary-types": "error",
    "import/no-nodejs-modules": [
      "error", {
        "allow": ["util"]
      }
    ]
  },
  "overrides": [
    {
      "files": ["scripts/**/*.ts"],
      "rules": {
        "import/no-nodejs-modules": "off"
      }
    }, {
      "files": ["**/*.tsx"],
      "rules": {
        "@typescript-eslint/no-unused-vars": "off"
      }
    }
  ]
}
